.safe-bottom-padding {
  padding-bottom: env(safe-area-inset-bottom, 16px);
}

.safe-top-padding {
  padding-top: env(safe-area-inset-top, 16px);
}

.tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}
